
.newproject{
    width: 100%;
    min-height: 100vh;
    @include Flex;

    &-wrapper{
        display: flex;
        flex-direction: column;
        height: 70vh;
        border-radius: 1rem;
        padding: 10px 20px;
    }
    &-heading{
       text-align: center;
       font-size: 3rem;
       font-weight: 400;
       text-transform: uppercase;
       margin-bottom: 2rem;
    }
    &-form{
        height: inherit;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-input{
        outline: none;
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        border: 1px solid darkblue;

        &::placeholder{
            font-size: 1.2rem;
            color: black;
            font-weight: 500;
        }
    }
    &-btn{
        @include Flex;
        padding: 1rem;
        font-size: 1.4rem;
        color: rgb(253, 253, 253);
        background: rgb(24, 59, 254);
        border: none;
        outline: none;
        border-radius: 2rem;
        cursor: pointer;
    }
}